<%layout("layouts/boilerplate")%>
    <%title="Update" %>
        <%css="/update.css"%>

            <body>
                <form action="/listing/<%=showEach._id%>?_method=PATCH" method="POST">
                    <div class="new mb-5 mt-5">
                        <h1>Make Changes to Your Villa</h1>
                        <!-- title -->
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input id="title" type="text" class="form-control" value="<%=showEach.title%>"
                                name="title">
                        </div>
                        <!-- description -->
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea id="description" class="form-control" value="<%=showEach.description%>"
                                name="description"><%=showEach.description%></textarea>
                        </div>
                        <!-- image -->
                        <div class="mb-3">
                            <label for="image" class="form-label">Image link</label>
                            <input id="image" name="image" type="text" class="form-control"
                                value="<%=showEach.image.url%>">
                        </div>
                        <div class="row">
                            <!-- price -->
                            <div class="mb-3 col-md-4">
                                <label for="price" class="form-label">Price</label>
                                <div class="input-group">
                                    <span class="input-group-text">₹</span>
                                    <input id="price" name="price" type="number" class="form-control"
                                        value="<%=showEach.price%>">
                                </div>
                            </div>
                            <!-- country -->
                            <div class="mb-3 col-md-8">
                                <label for="country" class="form-label">Country</label>
                                <input id="country" name="country" type="text" class="form-control"
                                    value="<%=showEach.country%>">
                            </div>
                        </div>
                        <!-- location -->
                        <div class="mb-3">
                            <div class="mb-3">
                                <label for="location" class="form-label">Location</label>
                                <input id="location" name="location" type="text" class="form-control"
                                    value="<%=showEach.location%>,<%=showEach.country%>">
                            </div>
                        </div>
                        <button class="btn btn-danger">Make changes</button><br><br>
                        <a href="/listing/<%=showEach._id%>" class="backListing"><i
                                class="fa-regular fa-circle-left"></i><span class="btl">Back to listing</span></a>
                    </div>
                </form>
            </body>