<%layout("layouts/boilerplate")%>
    <%title="Each Home"%>
        <%css="/detail.css"%>

            <body>
                <div class="row offset-3">
                    <div class="col-7" >
                        <i><h3 style="font-weight: 800;">
                            <%=showEach.title.toUpperCase()%>
                        </h3></i>
                        <img src="<%=showEach.image.url%>" alt="" class="img-fluid showimg">
                        <i><p style="font-weight: 700;font-size: larger;">
                            <%=showEach.description%>
                        </p></i>
                        <p>₹<%=showEach.price.toLocaleString("en-IN")%>/night</p>
                        <p>
                            <%=showEach.location%>
                        </p>
                        <p>
                            <%=showEach.country%>
                        </p>
                        <div class="button">
                            <form action="/listing/<%=showEach._id%>/edit">
                                <button class="btn btn-danger">Edit</button>
                            </form><br>
                            <form action="/listing/<%=showEach._id%>/delete?_method=DELETE" method="POST">
                                <button class="btn btn-dark">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </body>