<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Each Home</title>
    <link rel="stylesheet" href="/detail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%-include("includes/navbar")%>
    <div class="detail">
        <h1>
            <%=showEach.title%>
        </h1>
        <img src="<%=showEach.image.url%>" alt="">
        <h4>
            <%=showEach.description%>
        </h4>
        <p>₹<%=showEach.price.toLocaleString("en-IN")%>/night</p>
        <p>
            <%=showEach.location%>
        </p>
        <p>
            <%=showEach.country%>
        </p>
        <div class="button">
            <form action="/listing/<%=showEach._id%>/edit">
                <button class="btn btn-danger">Edit</button>
            </form><br>
            <form action="/listing/<%=showEach._id%>/delete?_method=DELETE" method="POST">
                <button class="btn btn-dark">Delete</button>
            </form>
        </div>
    </div>
    <%-include("includes/footer")%>

</body>

</html>